// ======================================================================
// Slate Core Config | hello@hashandsalt.com
// ======================================================================

@use "sass:math";

// Media Embed - 16:9 ratio
$ioe-padding: ((math.div(100, 16)) * 9);

// Font size
$rem-base: 16px;

// REM Fallback
$rem-fallback: false;

// PX units only
$rem-px-only: false;
